@keyframes glowing {
  0% {
    box-shadow: 0 0 0 0 rgba(85, 150, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 10px 10px rgba(85, 150, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(85, 150, 255, 0.7);
  }
}
.glowing-border {
  animation: glowing 2s infinite;
}
